<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color: #00008bbf">
    Welcome to {{ title }}!
  </h1>
  <img src="./../assets/translate.jpeg" height="164" width="307" style="border-radius: 0.5em;"/>
</div>

<div style="margin-top: 15px" align="center">
<textarea  #textbox placeholder="enter your wish1...:)" rows="4" cols="50" ></textarea>
  <button mat-button (click)="submitFunction(textbox.value)">translate</button>
  <textarea rows="4" cols="50" >{{translateResult}}</textarea>
</div>
<img style="position: fixed;vertical-align: center" src="./../assets/machine_learning_loader.jpg" height="435" class="loader" width="639" [hidden]="!loader"/>

