<nav class="navbar-expand navbar-dark bg-primary text-center">
  <h2 style="color: white">
    Code My Word
  </h2>
</nav>
<div class="container" [ngClass]="{'loading':loader}" >
  <div class="row" style="margin-top: 5%">
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-centered">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="langCode">
      <label ngbButtonLabel class="btn-primary" *ngFor="let lang of speakList">
        <input ngbButton type="radio" [value]="lang.val"/> {{lang.label}}</label>
    </div>
    <textarea autofocus [(ngModel)]="text" id="textbox" class="translate-boxes" rows="7" [disabled]="loader" #textbox
              placeholder="Please enter description for program you want."></textarea>
    <br/>
    <button class="btn btn-primary" type="submit" (click)="translateText(text)" style="float:right; width: 30%"
            [disabled]="!text||loader">Convert
    </button>
  </div>
    <div class="col-md-6 col-lg-6 col-centered">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
      <label ngbButtonLabel class="btn-primary" >
        <input ngbButton type="radio" [value]="Java"/> Java</label>
      <label ngbButtonLabel class="btn-primary" *ngFor="let lang of codeFutureList" placement="bottom" [ngbTooltip]="tooltipMsg">
        <input ngbButton type="radio" disabled [value]="lang" /> {{lang}}</label>
    </div>
    <textarea class="translate-boxes" rows="7" disabled [(ngModel)]="translateResult" id="translation" #codeConvertion>
                    </textarea>
    <button class="btn btn-primary" type="submit" (click)="copyInputMessage(codeConvertion)"
            style="float:right; width: 30%" [disabled]="!translateResult||loader">Copy code
    </button>
    </div>
  </div>
</div>

<img style="position: fixed;vertical-align: center" src="assets/images/nT_Loader.jpeg" height="100vh" class="loader" width="100vw" [hidden]="!loader"/>

