<nav class="navbar-expand navbar-dark bg-primary text-center">
  <h2 style="color: white">
    Code My Word
  </h2>
</nav>
<div class="container" [ngClass]="{'loading':loader}" >
  <div class="row" style="margin-top: 5%">
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-centered">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="Lang-Group">
        <button type="button" class="btn btn-info">English</button>
        <button type="button" class="btn btn-info" placement="bottom" [ngbTooltip]="tooltipMsg">
          <button type="button" class="btn btn-info" disabled *ngFor="let lang of speakFutureList">{{lang}}</button>
          </button>
      </div>
    </div>
    <textarea autofocus  [(ngModel)]="text" id="textbox" class="translate-boxes" rows="7"  [disabled]="loader"  #textbox placeholder="Please enter description for program you want."></textarea>
    <br/>
    <button class="btn btn-primary" type="submit" (click)="submitFunction(text)" style="float:right; width: 30%" [disabled]="!text||loader">Convert</button>
  </div>
  <div class="col-md-6 col-lg-6 col-centered">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="Code-Group">
        <button type="button" class="btn btn-info">Java</button>
        <button type="button" class="btn btn-info" placement="bottom" [ngbTooltip]="tooltipMsg">
          <button type="button" class="btn btn-info" disabled *ngFor="let lang of codeFutureList">{{lang}}</button></button>
      </div>
    </div>
    <textarea class="translate-boxes" rows="7"  disabled [(ngModel)]="translateResult" id="translation" #codeConvertion>
                    </textarea>
                       <button class="btn btn-primary" type="submit" (click)="copyInputMessage(codeConvertion)" style="float:right; width: 30%" [disabled]="!translateResult||loader">Copy code</button>
  </div>
</div>
</div>

<img style="position: fixed;vertical-align: center" src="assets/images/nT_Loader.jpeg" height="100vh" class="loader" width="100vw" [hidden]="!loader"/>

